:root {
    --light-text: white;
   /* --light-bg: rgba(235, 195, 127, 0.839);*/
   --light-bg: #fcc361;
    --dark-text: black;
    --dark-bg: black;
    --light-link: rgb(160, 24, 160);
    --dark-link: rgba(75, 49, 5, 0.839);
}

html {
    min-height: 100%;
 }

* {
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: #fafafa; 
    font-family: 'Roboto Mono', monospace;
    background-image: url("https://images.pexels.com/photos/277371/pexels-photo-277371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    min-height: 100vh; 
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 27px;
    margin: 0 0 5px
}
a {
    color: var(--dark-link);
    font-weight: 700;
}
select {
    border-radius: 5px;
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
}
.container {
   /* background-color: #ffe9e3; */
    background-color: var(--light-bg);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
}
.city {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 0;
}

.dark .city {
    border-bottom: 1px dashed white;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 0;
    }
.city:last-child {
    border: none;
}
.time {
    font-size: 45px;
    font-weight: 700;
}
.time small {
    font-size: 23px;
    vertical-align: middle;
}
footer {
    text-align: center;
    margin-top: 35px;
}

body.dark {
    background-image: url("https://images.pexels.com/photos/707676/pexels-photo-707676.jpeg");
}

.dark .container {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.dark a {
    color: var(--light-link);
}

.theme-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: black;
    color: white;
    margin-left: auto;
    margin-right: 0;
}

.theme-button:hover {
    cursor: pointer;
} 

.dark .theme-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    color: var(--dark-text);
}

 .dark .theme-button:hover {
    cursor: pointer;
} 
span {
    display: flex;
}

.remove-btn {
    padding: 0px;
    background: none;
    border: 0px;
}