:root {
    --light-text: white;
    --light-bg: rgba(235, 195, 127, 0.839);
    --dark-text: black;
    --dark-bg: black;
    --light-link: rgb(160, 24, 160);
    --dark-link: rgba(75, 49, 5, 0.839);
}

html, body {
    height:100%;
} 

body {
    background-color: #fafafa; 
    font-family: 'Roboto Mono', monospace;
    background-image: url("https://images.pexels.com/photos/277371/pexels-photo-277371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%; 
    overflow: hidden;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 27px;
    margin: 0 0 5px
}
a {
    color: var(--dark-link);
    font-weight: 700;
}
select {
    border-radius: 5px;
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
}
.container {
   /* background-color: #ffe9e3; */
    background-color: var(--light-bg);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px;
}
.city {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 0;
}
.city:last-child {
    border: none;
}
.time {
    font-size: 45px;
    font-weight: 700;
}
.time small {
    font-size: 23px;
    vertical-align: middle;
}
footer {
    margin-top: 30px;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px 50px;
}

body.dark {
    background-image: url("https://images.pexels.com/photos/707676/pexels-photo-707676.jpeg");
}

.dark .container {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.dark footer {
    color: var(--light-text);
    background-color: var(--dark-bg);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px 50px;
}

.dark a {
    color: var(--light-link);
}